html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;

    background-image: linear-gradient(to right, rgb(30, 30, 30), rgb(18,18,18)60%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.albumCover {
    border-radius: 5%;
    position:fixed;
    height:calc(100vh/1.5);
    top:calc(100vh/6);
    left:calc(100vh/6);
    filter:drop-shadow(15px 15px 20px black);
}

.title {
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-weight:700;
    font-size: 12vh;
    text-wrap: nowrap;
    width:calc(40vw);
    overflow: hidden;
    text-overflow: ellipsis;

    color: rgb(255, 255, 255);
    position: fixed;
    left:calc(100vw/1.9);
    top:calc(100vh/8);
    filter:drop-shadow(15px 15px 20px black);
}

.titlediv {
    position: fixed;
    left:calc(100vw/1.9);
    top:calc(100vh/8);
}

.artist {
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: 6vh;

    color: rgb(175, 175, 175);  
    position: fixed;
    left:calc(100vw/1.88);
    top:calc(100vh/3.5);
    filter:drop-shadow(15px 15px 20px black);
}

.skipleft {
    filter:invert() drop-shadow(15px 15px 20px black);

    height:calc(100vh/10);
    position:fixed;
    left:calc(100vw/1.88);
    top:calc(100vh/1.7);
    scale:-1;
}

.skipLeftButton {
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
    height:calc(100vh/10);
    width:calc(100vh/10);
    position:fixed;
    left:calc(100vw/1.88);
    top:calc(100vh/1.7);
}

.pause {
    filter:invert() drop-shadow(15px 15px 20px black);

    height:calc(100vh/10);
    position:fixed;
    left:calc(100vw/1.499);
    top:calc(100vh/1.7);
}

.pauseButton {
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
    height:calc(100vh/10);
    width:calc(100vh/10);
    position:fixed;
    left:calc(100vw/1.499);
    top:calc(100vh/1.7);
}

.skipright {
    filter:invert() drop-shadow(15px 15px 20px black);

    height:calc(100vh/10);
    position:fixed;
    left:calc(100vw/1.25);
    top:calc(100vh/1.7);
}

.skipButton {
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
    height:calc(100vh/10);
    width:calc(100vh/10);
    position:fixed;
    left:calc(100vw/1.25);
    top:calc(100vh/1.7);
}

.progressBar {
    border-radius: 5px;
    width: 31.5vw;
    background-color: rgb(33,33,33);

    height: 10px;
    position:fixed;
    top:calc(100vh/1.85);
    left:calc(100vw/1.88)
}

.progress {
    border-radius: 5px;
    /* width: calc(31.5vw/10 * 7); */
    background-color: rgb(255, 255, 255);

    height: 10px;
    position:fixed;
    top:calc(100vh/1.85);
    left:calc(100vw/1.88)  
}